nav{
    position: fixed;
    width: 87%;
    background-color: #ffff;
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 1vw 8vw;
align-items: center;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);

}
nav img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
#nav .navigation{
    display: flex;
}

#menu-box{
    width: 30px;
    height:30px ;
    display: none;
}
#menu-close{
    display: none;
}

nav .navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav .navigation ul li{
    list-style-type: none;
    margin-left: 30px;

}

nav .navigation ul li a{
    text-decoration: none;
    color: rgb(21, 21, 100);
    font-size: 15px;
    font-weight: 800;
    transition: 0.3s ease;
}

nav .navigation ul li a:hover{
    color: #fdc93b;
}

#home{
background-image: linear-gradient(rgba(9,5,54,0.3),rgba(5,4,46,0.7)),url("file:///C:/Users/MUKHESH%20RAJU/Documents/309002821_158387310168777_3949092815440892481_n.webp");
width: 100%;
height: 100vh;
background-size: cover;
background-position: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-top: 40px;
}

#home h2{
    color: white;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

#home p{
    width: 100%;
    color: white;
    font-size: 1.3rem;
    line-height: 25px;
    text-align: center;

}

#home .btn{
    margin-top: 30px;
}

#home a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #ffff;
    font-weight: 600;
    border-radius: 5px; 
}

#home a.blue{
    color: #ffff;
    background: rgb(21, 21, 100);
    transition: 0.3s ease;
}

#home a.blue:hover {
    color: rgb(21, 21, 100);
    background: #ffff;
}

#home a.yellow{
    color: rgb(255, 255, 255);
    background: #c06011;
    transition: 0.3s ease;
}

#home a.yellow:hover {
    color:  rgb(21, 21, 100);
    background: #ffff;
}

#home h5{
    color: white;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

#cont{
   padding: 5vw 8vw 0 8vw;
   text-align: center;
   height: 40vh;
   justify-content: center;
align-items: center;
padding-top: 4cm;
}

#cont h1{
    letter-spacing: 1px;
    padding-bottom: 24px;
}

#cont .btn{
    margin-top: 20px;
}

#cont a{
    text-decoration: none;
    font-size: 1.1rem;
    padding: 13px 50px;
    background-color: #ffff;
    font-weight: 600;
    border-radius: 5px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#cont a.t{
    color: #ffff;
    background: rgb(21, 21, 100);
}

#cont a.t:hover {
    color: rgb(21, 21, 100);
    background: #ffff;
}

#cont a.m{
    color: #ffff;
    background: rgb(21, 21, 100);
}

#cont a.m:hover {
    color: rgb(21, 21, 100);
    background: #ffff;
}

#cont a.e{
    color: #ffff;
    background: rgb(21, 21, 100);
}

#cont a.e:hover {
    color: rgb(21, 21, 100);
    background: #ffff;
}

#cont a.p{
    color: #ffff;
    background: rgb(21, 21, 100);
}

#cont a.p:hover {
    color: rgb(21, 21, 100);
    background: #ffff;
}

#cont .ctn{
    margin-top: 50px;
}

#cont .ltn{
    margin-top: 50px;
}

#cont a.c{
    color: #ffff;
    background: rgb(21, 21, 100);
}

#cont a.c:hover {
    color: rgb(21, 21, 100);
    background: #ffff;
}



#cont a.i{
    color: #ffff;
    background: rgb(21, 21, 100);
}

#cont a.i:hover {
    color: rgb(21, 21, 100);
    background: #ffff;
}

#cont a.b{
    color: #ffff;
    background: rgb(21, 21, 100);
}

#cont a.b:hover {
    color: rgb(21, 21, 100);
    background: #ffff;
}

#dont{
    padding: 5vw 8vw 0 8vw;
    text-align: center;
    height: 40vh;
    justify-content: center;
 align-items: center;
 padding-top: 4cm;
 }

 #dont h1{
    letter-spacing: 1px;
    padding-bottom: 35px;
}
 
 #dont .dtn{
     margin-top: 20px;
     font-size: 12px;
 }
 
 #dont a{
     text-decoration: none;
     font-size: 1.1rem;
     padding: 16px 50px;
     padding-top: 20px;
     background-color: #ffff;
     font-weight: 600;
     border-radius: 5px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
 }
 
 #dont a.t{
     color: #ffff;
     background: rgb(21, 21, 100);
 }

 #dont a.t:hover {
    color: rgb(21, 21, 100);
    background: #ffff;
}
 
 #dont a.m{
     color: #ffff;
     background: rgb(21, 21, 100);
 }

 #dont a.m:hover {
    color: rgb(21, 21, 100);
    background: #ffff;
}
 
 #dont a.e{
     color: #ffff;
     background: rgb(21, 21, 100);
 }

 #dont a.e:hover {
    color: rgb(21, 21, 100);
    background: #ffff;
}
 
 #dont a.p{
     color: #ffff;
     background: rgb(21, 21, 100);
 }

 #dont a.p:hover {
    color: rgb(21, 21, 100);
    background: #ffff;
}
 
 
 #dont .etn{
     margin-top: 50px;
 }
 
 #dont a.c{
     color: #ffff;
     background: rgb(21, 21, 100);
 }

 #dont a.c:hover {
    color: rgb(21, 21, 100);
    background: #ffff;
}
 
 #dont a.i{
     color: #ffff;
     background: rgb(21, 21, 100);
 }

 #dont a.i:hover {
    color: rgb(21, 21, 100);
    background: #ffff;
}
 
 #dont a.b{
     color: #ffff;
     background: rgb(21, 21, 100);
 }

 #dont a.b:hover {
    color: rgb(21, 21, 100);
    background: #ffff;
}

#eont{
    padding: 5vw 8vw 0 8vw;
    text-align: center;
    height: 40vh;
    justify-content: center;
 align-items: center;
 padding-top: 4cm;
 }

 #eont h1{
    letter-spacing: 1px;
    padding-bottom: 35px;
}
 
 #eont .ftn{
     margin-top: 20px;
 }
 
 #eont a{
     text-decoration: none;
     font-size: 1.1rem;
     padding: 16px 50px;
     padding-top: 20px;
     background-color: #ffff;
     font-weight: 600;
     border-radius: 5px; 
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 
 #eont a.t{
     color: #ffff;
     background: rgb(21, 21, 100);
 }

 #eont a.t:hover {
    color: rgb(21, 21, 100);
    background: #ffff;
}
 
 #eont a.m{
     color: #ffff;
     background: rgb(21, 21, 100);
 }

 #eont a.m:hover {
    color: rgb(21, 21, 100);
    background: #ffff;
}
 
 #eont a.e{
     color: #ffff;
     background: rgb(21, 21, 100);
 }

 #eont a.e:hover {
    color: rgb(21, 21, 100);
    background: #ffff;
}
 
 #eont a.p{
     color: #ffff;
     background: rgb(21, 21, 100);
 }

 #eont a.p:hover {
    color: rgb(21, 21, 100);
    background: #ffff;
}
 
 
 #eont .gtn{
     margin-top: 50px;
 }
 #eont .ttn{
    margin-top: 50px;
}
#font .mtn{
    margin-top: 50px;
}

#dont .ktn{
    margin-top: 50px;
}
 
 #eont a.c{
     color: #ffff;
     background: rgb(21, 21, 100);
 }

 #eont a.c:hover {
    color: rgb(21, 21, 100);
    background: #ffff;
}
 
 #eont a.i{
     color: #ffff;
     background: rgb(21, 21, 100);
 }

 #eont a.i:hover {
    color: rgb(21, 21, 100);
    background: #ffff;
}
 
 #eont a.b{
     color: #ffff;
     background: rgb(21, 21, 100);
 }

 #eont a.b:hover {
    color: rgb(21, 21, 100);
    background: #ffff;
}

#font{
    padding: 5vw 8vw 0 8vw;
    text-align: center;
    height: 60vh;
    justify-content: center;
 align-items: center;
 padding-top: 4cm;
 }

 #font h1{
    letter-spacing: 1px;
    padding-bottom: 35px;
}
 
 #eont .itn{
     margin-top: 20px;
 }
 
 #font a{
     text-decoration: none;
     font-size: 1.1rem;
     padding: 16px 50px;
     padding-top: 20px;
     background-color: #ffff;
     font-weight: 600;
     border-radius: 5px; 
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 
 #font a.t{
     color: #ffff;
     background: rgb(21, 21, 100);
 }

 #font a.t:hover {
    color: rgb(21, 21, 100);
    background: #ffff;
}
 
 #font a.m{
     color: #ffff;
     background: rgb(21, 21, 100);
 }

 #font a.m:hover {
    color: rgb(21, 21, 100);
    background: #ffff;
}
 
 #font a.e{
     color: #ffff;
     background: rgb(21, 21, 100);
 }

 #font a.e:hover {
    color: rgb(21, 21, 100);
    background: #ffff;
}
 
 #font a.p{
     color: #ffff;
     background: rgb(21, 21, 100);
 }

 #font a.p:hover {
    color: rgb(21, 21, 100);
    background: #ffff;
}
 
 
 #font .jtn{
     margin-top: 50px;
 }
 
 #font a.c{
     color: #ffff;
     background: rgb(21, 21, 100);
 }

 #font a.c:hover {
    color: rgb(21, 21, 100);
    background: #ffff;
}
 
 #font a.i{
     color: #ffff;
     background: rgb(21, 21, 100);
 }

 #font a.i:hover {
    color: rgb(21, 21, 100);
    background: #ffff;
}
 
 #font a.b{
     color: #ffff;
     background: rgb(21, 21, 100);
 }

 #font a.b:hover {
    color: rgb(21, 21, 100);
    background: #ffff;
}

@media (max-width: 769px) {
    nav{
        padding-top: 10px;
    }
    nav img{
        width: 20px;
        height: 20px;
    }
    #menu-box{
        display: initial;
    }
    #menu-close{
        display: initial;
        font-size: 1.6rem;
        color: rgb(255, 255, 255);
        padding: 30px 0 20px 20px;
    }
    nav .navigation ul{
        position: absolute;
        top: 0;
        right: -220px;
        width: 180px;
        height: 100vh;
        background:rgba(17, 20, 104, 0.45);
        backdrop-filter: blur(4.5px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: 0.3s ease;
    }

    nav .navigation ul.active{
          right: 0;
    }

    nav .navigation ul li{
        padding: 20px 0 20px 40px;
        margin-left: 0;
    }
    nav .navigation ul li a{
        color: #ffff;
    }

}


